* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #f3f3f3;
}

#app {
    width: 100%;
    padding: 10px; /* add some padding to prevent content sticking to the edges */
    margin: auto;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    width: 20px;
    height: 20px;
}

input[type="text"], button {
    padding: 10px;
    font-size: 16px; /* increase font size for better visibility */
    margin: 10px 0;
}

input[type="text"] {
    width: calc(100% - 20px); /* accounting for padding */
}

button {
    width: 100%;
    border: none;
    color: white;
    background-color: #4CAF50; /* some color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* darken color on hover */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }

    table th,
    table td {
      padding: 4px;
    }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
    #app {
        max-width: 600px;
    }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
    #app {
        max-width: 768px;
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
    #app {
        max-width: 992px;
    }
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
    #app {
        max-width: 1200px;
    }
}
