* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #fff;
    color: #333;
}

#searchForm {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#searchInput, #searchForm input[type="submit"] {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#app {
    width: 100%;
    padding: 20px;
    margin: auto;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    width: 20px;
    height: 20px;
}

input[type="text"], button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
}

input[type="text"] {
    width: calc(100% - 20px);
    border: 1px solid #ccc;
}

button {
    width: 100%;
    border: none;
    color: white;
    background-color: #0070c9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

button:hover {
    background-color: #005999;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f8f8f8;
}

@media only screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }

    table th,
    table td {
      padding: 4px;
    }
}

a {
    text-decoration: none;
    color: #0070c9;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    #app {
        max-width: 600px;
    }
}

@media only screen and (min-width: 768px) {
    #app {
        max-width: 768px;
    }
}

@media only screen and (min-width: 992px) {
    #app {
        max-width: 992px;
    }
}

@media only screen and (min-width: 1200px) {
    #app {
        max-width: 1200px;
    }
}
