* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #ffffff;
}

#app {
    width: 100%;
    padding: 20px; /* add some padding to prevent content sticking to the edges */
    margin: auto;
    color: #333;
    display: flex;
    flex-direction: column;
}

#searchForm {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    order: 1;
}

#checkboxContainer {
    order: 2;
    /* Add additional styling here if required */
}

#quantity-table {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ececec; /* light gray */
    color: #2c2c2c; /* dark gray */
    order: 3;
}

#search-results-table {
    order: 4;
    /* Add additional styling here if required */
}

#status-table {
    order: 5;
    /* Add additional styling here if required */
}

#saveBtn {
    order: 6;
    /* Add additional styling here if required */
}

/* Add other existing styles here */

button:hover {
    background-color: #005999; /* darken color on hover */
}

table th {
    background-color: #2c2c2c; /* dark gray */
    color: #ececec; /* light gray */
}

/* Add additional media queries here */

a {
    text-decoration: none;
    font-weight: bold;
    color: #0070c9;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
    #app {
        max-width: 600px;
    }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
    #app {
        max-width: 768px;
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
    #app {
        max-width: 992px;
    }
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
    #app {
        max-width: 1200px;
    }
}
