body {
    font-family: Arial, sans-serif;
}

#login-page {
    text-align: center;
    padding: 50px;
}

#google-signin {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(70, 70, 70);
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

#google-signin:hover {
    background-color: #ffffff;
}

#hello-world-page {
    text-align: center;
    padding: 50px;
}

.form__img {
    height: 20px;
    width: 20px;
}
