/* styles.css */

body {
    font-family: Arial, sans-serif;
}

#login-page {
    text-align: center;
    padding: 50px;
}

#google-signin {
    background-color: #4285f4;
    color: white;
    border: none;
  }
  #google-signin:hover {
    background-color: #2a75f3;
  }  

#hello-world-page {
    text-align: center;
    padding: 50px;
}